src/*.exe
src/sprtsoin
src/sproutsd
src/test_sprouts
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.sprouts
#compilation and Qt preprocessor part
*.qm
Makefile
sprouts-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build
*.plist
*.xcodeproj
PortIndex*
dist
*.app
*.dmg
